---
---

@import "{{ site.theme }}";

@font-face {
    font-family: 'HFSM Mono';
    src: url('../../HFSM Mono.ttf') format('truetype');
}

pre { 
    font-family: 'HFSM Mono';
    font-size: 100%;
    line-height: 110%;
}

code { 
    font-family: 'HFSM Mono';
    /* font-size: 22px; */
}

a:link, a:visited {
    color: #0057b7;
    font-weight: bold;
    text-decoration: none;
}
a:hover, a:active {
    background-color: #ffd700;
    color: #0057b7;
    font-weight: bold;
    text-decoration: none;
}
