---
---

@import "{{ site.theme }}";

@font-face {
    font-family: 'HFSM Mono';
    src: url('../../HFSM Mono.ttf') format('truetype');
}

code { 
    font-family: 'HFSM Mono';
    font-size: 11px;
    line-height: 12px;
}

sup { 
    font-family: 'HFSM Mono';
    font-size: 22px;
    line-height: 24px;
}
sub { 
    font-family: 'HFSM Mono';
    font-size: 11px;
    line-height: 12px;
}

a:link, a:visited {
    color: #0057b7;
    font-weight: bold;
    text-decoration: none;
}
a:hover, a:active {
    background-color: #ffd700;
    color: #0057b7;
    font-weight: bold;
    text-decoration: none;
}
