---
---

@import "{{ site.theme }}";

@font-face {
    font-family: 'HFSM Mono';
    src: url('https://github.com/andrew-gresyk/HFSM-fonts/raw/main/HFSM%20Mono.ttf') format('truetype');
}

a { 
    font-family: 'HFSM Mono';
    font-size: 8px;
}
pre { 
    font-family: 'HFSM Mono';
    font-size: 8px;
}

a:link, a:visited {
    color: #0057b7;
    font-weight: bold;
    text-decoration: none;
}
a:hover, a:active {
    background-color: #ffd700;
    color: #0057b7;
    font-weight: bold;
    text-decoration: none;
}
